.topEara {
    position: -webkit-sticky;
    position: sticky;
    z-index: 900;
    top: 0px;


    //Photo
    .TitlePhoto{
      position: absolute;
      width: 300px;
      height: 60px;
      left: 80px;
      border: none;
      background-color: transparent;
      background-size: cover; /* 背景图片自适应按钮大小 */
      background-position: center; /* 背景图片居中 */
      border: none;
      background-image: url('@/assets/Photo/MC.png');
      cursor: auto;//触碰时不变成手
    }
    //首页
    .HomePageButton{
      position: relative;
      width: 60px;
      height: 40px;
      top: 10px;
      left: 750px;
      background-color: transparent;
      font-weight: bolder;
      transition: color 1s,border 1s;
      color: white;
      font-family: pixel-font-Silver;
      font-size: 20px;

    }
    .HomePageButton:hover{
      color: white;
      background-color: transparent;
    }
    .HomePageButton.is-text:not(.is-disabled):hover{
      background-color: transparent;
    }
    .HomePageButton:active{
      border: 2px solid;
    }

    //资讯
    .InformationButton{
      position: relative;
      width: 60px;
      height: 40px;
      top: 10px;
      left: 760px;
      background-color: transparent;
      font-weight: bolder;
      transition: color 1s,border 1s;
      color: white;
      font-family: pixel-font-Silver;
      font-size: 20px;
      //border: 2px solid;   
    }
    .InformationButton:hover{
      color: white;
      background-color: transparent;
    }
    .InformationButton.is-text:not(.is-disabled):hover{
      background-color: transparent;
    }
    .InformationButton:active{
      border: 2px solid;
    }

    //社区
    .CommunityButton{
      position: relative;
      width: 60px;
      height: 40px;
      top: 10px;
      left: 770px;
      background-color: transparent;
      font-weight: bolder;
      transition: color 1s,border 1s;
      color: white;
      font-family: pixel-font-Silver;
      font-size: 20px;
      //border: 2px solid;   
    }
    .CommunityButton:hover{
      color: white;
      background-color: transparent;
    }
    .CommunityButton.is-text:not(.is-disabled):hover{
      background-color: transparent;
    }
    .CommunityButton:active{
      border: 2px solid;
    }

    //支持
    .SupportButton{
      position: relative;
      width: 60px;
      height: 40px;
      top: 10px;
      left: 780px;
      background-color: transparent;
      font-weight: bolder;
      transition: color 1s,border 1s;
      color: white;
      font-family: pixel-font-Silver;
      font-size: 20px;
      //border: 2px solid;   
    }
    .SupportButton:hover{
      color: white;
      background-color: transparent;
    }
    .SupportButton.is-text:not(.is-disabled):hover{
      background-color: transparent;
    }
    .SupportButton:active{
      border: 2px solid;
    }

    .TopicChangeButton{
      position: relative;
      width: 25px;
      height: 25px;
      top: 10px;
      left: 1400px;
      background-color: transparent;
      border: none;
      transition: transform 0.5s ease;
    }
    .TopicChangeButton:hover{
      transform: scale(1.1); /* 图标放大动画 */
    }

    .TopicOne{
      position: relative;
      background: rgb(54,54,54);
      height:500px;
      top:20px;
    }
    .fade-enter-active,.fade-leave-active {
      transition: opacity 1s ease;
    }
    .fade-enter-from,.fade-leave-to{
      opacity: 0;
    }

  }

  .buttomEara{
    overflow:hidden;

    .Carousel-line{
      background-color: white;
      top: 5px;
      position: relative;

      //走马灯
      // :deep() -> 深度选择器(可使样式深入到子组件)
      .el-carousel{
        position: relative;
        width: 400px;
        left: 1280px;
      }
      :deep(.el-carousel__button) {
        width: 8px;
        border-radius: 50%;
        padding: 4px 2px;
      }
      :deep(.el-carousel__indicator--horizontal){
        padding: 6px;
      }
      :deep(.el-carousel__container){
        width: 400px;
      }
      :deep(.el_carousel_item){
        width: 400px;
      }
      .el-carousel__item img{
        width: 100%;
        height:inherit;// inherit继承父类的高度
      }
      .el-carousel__item:nth-child(2n) {
        background-color: #6d6d6d;
      }
      .el-carousel__item:nth-child(2n + 1) {
        background-color: #454647;
      }

      //line Button修饰
      .Carousel-line_button{
        position: absolute;
        background-color: black;
        width: 100px;
        height: 88px;
        left: 500px;
      }
    }

    .showCarouselPhoto{
      position: relative;
      background-color: white;
      width: 100%;
      height: 600px;
    }
  }
